<div class="container">
	<h2 class="header">SEARCH FOR...</h2>
	<%= form_tag do %>
	  <%= text_field_tag "search", nil, placeholder: "Search", autocomplete: :off %>
	<% end %>
</div>
 <div><%= button_to('CENSUS VARIABLES', 'https://docs.google.com/spreadsheets/d/1z77W9_k_iEx7sJaU3P_RCDXoFqbcTPQuC_Yv1VDigp0/edit?usp=sharing', :method => :get, :class => 'btn-xl')  %>


	
</div>
